
@{
    ViewBag.Title = "Service_Navette";
    Layout = "~/Views/Shared/accueilFront.cshtml";
}



<link href="~/Content/Front/css/blog.css" rel='stylesheet' type='text/css' />


<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Accueil")">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Service dératisation, désinfection, désinsectisation</li>
</ol>
<!--//banner-->
<!--/Blog-->
<section class="grids_sec_2">
    <div class="row style-grids_main">

        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">
                <p>
                    <span class="fas fa-check"></span>
                    PMS offre le service de dératisation pour faire face au problème de l’invasion par les nuisibles.

                </p>

                <p>
                    <span class="fas fa-check"></span>
                    Désinfection des locaux pour y détruire toutes les concentrations d'agents pathogènes par des produits 
                    adéquats à large spectre autorisé par le ministère de la santé publique et garantie sans risque pour 
                    l'homme.
                </p>
                <p>
                    <span class="fas fa-check"></span>
                    Désinsectisation des locaux et de leurs alentour par des produits autorisés par le ministère de la santé
                     publique pour lutter contre 
                    les insectes, les scorpions, les araignées, les mille pattes et les cafards.
                </p>
               

            </div>
        </div><div class="col-md-6">
        <br /><br />
            <img src="~/Content/Front/images/deratisation.PNG" alt="" class="img-fluid1" />
        </div>


    </div>
</section>

