
@{
    ViewBag.Title = "Service_Navette";
    Layout = "~/Views/Shared/accueilFront.cshtml";
}
<link href="~/Content/Front/css/blog.css" rel='stylesheet' type='text/css' />


<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Accueil")">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Service Navette</li>
</ol>
<!--//banner-->
<!--/Blog-->
<section class="grids_sec_2">
    <div class="row style-grids_main">

        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">
                <p>
                    <span class="fas fa-check"></span>
                    PMS offre un service Navette qui consiste aux transport hebdomadaire de courriers, matériels
                    et consommables ou tout autre objet de et vers les différents sites des clients.
                </p>

                <p>
                    <span class="fas fa-check"></span>
                    Les moyens de transport exploités par PMS sont adaptés à l'exécution en fonction du volume 
                    et du poids de matériel transporté.
                </p>

                <p>
                    <span class="fas fa-check"></span>
                    Les véhicules ainsi que la marchandises et les matériels transportés sont couvèrent par des polices d'assurance spécifique.
                </p>

            </div>
        </div><div class="col-md-6">
    <img src="~/Content/Front/images/navette.PNG" alt="" class="img-fluid1" />
</div>
        

    </div>
</section>
