
@{
    ViewBag.Title = "Service_Navette";
    Layout = "~/Views/Shared/accueilFront.cshtml";
}



<link href="~/Content/Front/css/blog.css" rel='stylesheet' type='text/css' />


<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Accueil")">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Service Peinture industrielle</li>
</ol>
<!--//banner-->
<!--/Blog-->
<section class="grids_sec_2">
    <div class="row style-grids_main">

        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">


                <p> 
                    <span class="fas fa-check"></span>
                    Ce service consiste à appliquer des couches de revêtement ou de protection sur des pièces et produits industriels selon les règles de sécurité.
                </p>

                <p>
                    <span class="fas fa-check"></span>
                    La peinture industrielle utilisée est résistante, durable et de la plus haute qualité.
                </p>
              



            </div>

        </div>
        <div class="col-md-6 style-image-peinture2"></div>
        <div class="col-md-6 style-image-peinture"></div>
        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">

                <p>
                    <span class="fas fa-check"></span>
                    Les enduits sont choisis selon la spécificité du matériau de la surface, pour bien protéger celle-ci et lui permettre de supporter un usage intensif.
                </p>
                <p>
                    <span class="fas fa-check"></span>
                    PMS fait face au problème de corrosion surtout au niveau des sites comptes tenus des spécificités
                     de chaque site d'exploitation (niveau d'humidité en particulier), en adoptant les techniques
                     et les produits les plus appropriés.
                </p>

            </div>
        </div>

    </div>

</section>

