@{
    ViewBag.Title = "Buvette";
    Layout = "~/Views/Shared/accueilFront.cshtml";
}

<!--//header-->
<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Accueil")">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Service Buvette</li>
</ol>


<section class="grids_sec_2">
    <div class="row style-grids_main">

        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">


                <p>
                    <span class="fas fa-check"></span> Pour son service buvette, PMS offre des produits comprenant principalement des cafés, du lait aux chocolat en poudre et autres boissons (thé, tisane...).
                </p>
                <p>
                    <span class="fas fa-check"></span> Tous les produits utilisés doivent être de bonne qualité, achetés sur le marché local chez des revendeurs agrées
                </p>

                <p>
                    <span class="fas fa-check"></span>Service buvette comporte aussi la mise en place et la décoration des tables pour les réunions et les réceptions organisées auprès des locaux des clients et de leurs sociétés consœurs.
                </p>

               

            </div>

        </div>
        <div class="col-md-6 style-image-33"></div>



    </div>
</section>