@{
    ViewBag.Title = "Entretient et maintenance";
    Layout = "~/Views/Shared/accueilFront.cshtml";
}

<!--//header-->
<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Accueil")">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Service Entretien et maintenance</li>
</ol>


<section class="grids_sec_2">
    <div class="row style-grids_main">

        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">

                <p><span class="fas fa-check"></span> Mise à disposition d'ouvriers en construction métallique.</p>
                <p><span class="fas fa-check"></span> Travaux d'entretien des blocs sanitaires des sites industriels et des logements, nettoyage des panneaux solaires installés sur les toits des bâtiments.</p>
                <p><span class="fas fa-check"></span> Entretien des voitures et autres engins : lavage, vidange d'huile, changements des filtres, contrôle batteries, contrôle eau radiateur, etc. </p>
                <p><span class="fas fa-check"></span> Travaux d'entretien sanitaire, électrique, mécanique, menuiserie, climatisation, chauffage,... etc au siège </p>

              
               

            </div>

        </div>
        <div class="col-md-6 style-image-EM1"></div>
        <div class="col-md-6 style-image-EM2"></div>
        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">

                <p><span class="fas fa-check"></span> Travaux d'excavation manuelle et/ou mécanique.</p>
                <p><span class="fas fa-check"></span> Travaux d'entretien et de nettoyage des parkings internes et externes des sites ainsi que le nettoyage des toits de leurs marquises.</p>
                <p><span class="fas fa-check"></span> Entretien des routes : nettoyage des rigoles, réparation des bordures.</p>

                <p><span class="fas fa-check"></span> Nettoyage des toits des bâtiments et des décharges d'eau pluviale.</p>
               
               
             
              
            </div>
        </div>

    </div>
</section>