@{
    ViewBag.Title = "Jardinage";
    Layout = "~/Views/Shared/accueilFront.cshtml";
}

<!--//header-->
<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Accueil")">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Service Jardinage</li>
</ol>

<section class="grids_sec_2">
    <div class="row style-grids_main">

        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">


                <p> Le service Jardinage comporte la création, l'aménagement et l'entretien des espaces verts :</p>
                
                <p>&nbsp &nbsp &nbsp &nbsp<span class="fas fa-check"></span>Plantation, bêchage et taille des arbres, des haies et des &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp rosiers</p>
                <p>&nbsp &nbsp &nbsp &nbsp<span class="fas fa-check"></span>Engazonnement</p>
                <p>&nbsp &nbsp &nbsp &nbsp<span class="fas fa-check"></span>Fauchage manuel et/ou mécanique des végétations &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp  &nbsp  sauvages </p>



            </div>

        </div>
        <div class="col-md-6 style-image-Jar"></div>
        <div class="col-md-6 style-image-Jar1"></div>
        <div class="col-md-6 grid_sec_info">
            <div class="style-grid-2-text_info" data-aos="fade-right">
                
                <p>&nbsp &nbsp &nbsp &nbsp<span class="fas fa-check"></span>Fertilisation des terrains avec des engrais naturels et/ou &nbsp &nbsp&nbsp &nbsp&nbsp  chimiques</p>
                <p>&nbsp &nbsp &nbsp &nbsp<span class="fas fa-check"></span>Traitement des insectes et des maladies des plantes et &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp des arbres</p>
                <p>&nbsp &nbsp &nbsp &nbsp<span class="fas fa-check"></span>Agriculture biologique</p>
                
            </div>
        </div>

    </div>
</section>